@import '~bootstrap/scss/bootstrap';

// !    POSSIBILE PALETTE COLORI GENERALE?
body {
    height: 100vh;
    background-image: linear-gradient(to bottom, #68c9f8 10%, white 63%);
}

/*  Immagini nella index    */
.index-figure {
    margin-bottom: 0;
    height: 50px;
    width: 50px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center top;
    }
}

/*   Immagini nella show   */



.show-main-img {
    border-radius: 10px;
}

.gallery-item {
    position: relative;

    .delete-img {

        position: absolute;
        top: 0;
        right: 15px;


        .delete-img-btn {
            background-color: rgba($color: #000000, $alpha: 0.5);
        }
    }

}

.show-figure {
    height: 125px;
    width: 100%;
    border-radius: 10px;

    img {
        height: 100%;
        width: 100%;
    }
}

/*   Immagine preview form   */
.form-figure {
    height: 306px;
    width: 306px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center top;
        border-radius: 10px;
    }
}


/*   Navbar   */
.navbar {
    height: 60px;

    * {
        height: 100%;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav-link.active {
    position: relative;

    &::after {
        content: '';
        height: 4px;
        background-color: #52bdf2;
        border-radius: 4px;
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
    }

}

.dropdown-toggle::after {
    border: none;
}

#dropdown-profile {
    height: fit-content;
}

#index-title {
    font-family: "Arial", sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

// Regole tabella
.table {

    i {
        font-size: 20px;
    }

    thead {
        --bs-table-bg: rgb(13, 110, 253);
    }

    thead th:first-child {
        border-top-left-radius: 15px;
    }

    thead th:last-child {
        border-top-right-radius: 15px;
    }

    .icon-border {
        -webkit-text-stroke-color: #000000;
        -webkit-text-stroke-width: 1px;
    }
}